@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

/* --------------------------------------------header----------------------------------------------- */
.header-wrap {
    width: 1440px;
    height: 150px;
    background-color: #3576C6;
    border: 2px solid #FFFDFD;
}

.header-logo {
    margin-left: 100px;
}

.header-menu {
    width: 366px;
    height: 24px;
    margin-top: 63px;
    margin-left: 270px;
    gap: 40px;
}

.burger {
    flex-direction: column;
    gap: 5px;
    margin-top: 60px;
    margin-left: 100px;
    display: none;

    div {
        width: 35px;
        height: 4px;
        background-color: #0B0E66;
        border: none;
        border-radius: 10px;
    }
}

.header-items {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}

.header-items1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #0B0E66;
}

.header-button {
    width: 197.44px;
    height: 49px;
    margin-top: 51px;
    margin-left: 254.56px;
    background-color: #0B0E66;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #26C7EA;
}
/* -----------------------------------------------------section 1 */
.sec1-wrap{
    background-image: url(/js-hws/ITStep_part/images/1234.png);
    width: 1440px;
    height: 700px;
    position: relative;
}
.s1box{
    position: absolute;
    top: 510px;
    left: 436px;
    background-color: #3576C6;
    width: 596px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #FFFDFD;
}
/* -----------------------------------------------------section 2 */
.sec2-wrap{
    margin-top: 96px;
    margin-left: 100px;
    height: 1180px;
    width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 360px);
    column-gap: 100px;
    row-gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 360px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    text-align: center;
    background: radial-gradient(circle, #26C7EA, #FFFFFF);
    font-family: "Inter", sans-serif;
    font-size: 20px;
}
.inpt{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 5px;
}
.cbtn{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    color: black;
    background-color: #3576C6;
    font-size: 16px;
}


/* --------------------------------------footer-------------------------------------- */
.footer-wrap {
    width: 1440px;
    height: 243px;
    border-bottom: 3px;
    background-color: #3576C6;
    flex-direction: start;
    margin-top: 90px;
}

.ft-logo {
    margin-left: 99px;
    margin-top: 28px;
    width: 224px;
    height: 158px;
}

.ft-items1 {
    display: flex;
    flex-direction: column;
    margin-left: 164px;
    margin-top: 40px;
    gap: 30px;
}

.ft-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #26C7EA;
}

.ft-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFDFD;
}

.footer-social {
    gap: 25px;
}

.ft-items2 {
    display: flex;
    flex-direction: column;
    margin-left: 122px;
    margin-top: 40px;
    gap: 10px;
}

.ft-secondary-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #26C7EA;
}

.ft-items2 .ft-text {
    align-items: center;
}

.ft-items2 .ft-text p {
    padding-left: 15px;
}

.ft-items2 .ft-title {
    padding-left: 52px;
}

.ft-items2 .ft-secondary-text {
    padding-left: 52px;
}